body {
    margin: 0;
    font-family:monospace;
    background-color: #e4e4e4;
    overflow: hidden;
  }

  #header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  } 

  #header img {
    height: 6rem;
    width: auto;
  }  

  #mainBody{
    position: relative;
    display: flex;
    width: 100%;
  }

  #artCollection {
    margin: 0;
    width: 60%;
    height: 100vh;
    float:left;
    overflow-y: scroll;
  }
  #artCollection::-webkit-scrollbar {
    display: none;
  }

  #introPlusTable {
    height: 85vh;
    overflow-y: scroll;
  }
  #introPlusTable::-webkit-scrollbar {
    display: none;
  }

  #rightSidebar {
    margin: 0;
    width: 40%;
    height: 100vh;
    background: #e4002b;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    width: 16rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 1rem;
    box-shadow: 4px 4px #746f6f
  }
  
  .artImgSmall, .tableImage{
    justify-self: center;
    max-height: 12rem;
    max-width: 14rem;
  }
  
  .bttns{
    width: 50%;
    justify-self: center;
  }

  .like-btn {
    position: relative;
    background-color: #cbf2c3;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    font-size: 18px;
    justify-self: auto;
  }

  .dislike-btn {
    position: relative;
    background-color: #f2c3c5;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    
    font-size: 18px;
    justify-self: auto;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }

  #introPlusTable{
    padding-left:2rem;
    font-size: 18px;
    color: #fff;
  }

  h1{
    margin: 0;
    padding-top: 1rem;
    font-size: 32px;
    color: #fff;
  }
  
  h2{
    height:min-content;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  #footer{
    height: 15vh;
    padding: 0;
    padding-left: 2rem;
    font-size: 18px;
    color: #fff;
  }

  table{
    height: min-content;
    font-size: 18px;
    color: #fff;
    border: 1px solid;
  }
  th,td{
    border: 1px solid;
  }

  #loadNewCards, #clearMoreInfo, #clearTable{
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    font-size: 16px;
  }
  